{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = "HMPPS Interventions" %}
{% block pageTitle %}
  {{ pageTitle }}
  - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ presenter.text.title }}</h1>

      <h2 class="govuk-heading-l">{{ presenter.text.subTitle }}</h2>

      <p class="govuk-body-m">This will be shared with the service user's probation practitioner for approval. The first version of the action plan must be submitted within 5 working days from the initial assessment.</p>

      {% for desiredOutcome in presenter.desiredOutcomes %}
        <form method="post" action="{{ desiredOutcome.addActivityAction }}">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
          <input type="hidden" name="desired-outcome-id" value="{{ desiredOutcome.id }}">

          {{ govukTextarea(addActivityTextareaArgs(loop.index, desiredOutcome.description)) }}

          {{ govukButton({ text: "Add activity", classes: "govuk-button--secondary" }) }}
        </form>
      {% endfor %}

      <form method="post" action="#">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        {{ govukButton({ text: "Save and continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}