{% extends "../partials/layout.njk" %}

{% set pageTitle = "HMPPS Interventions" %}
{% block pageTitle %}
  {{ pageTitle }} - GOV.UK
{% endblock %}

{% block content %}
  <h1>Make a referral</h1>

  <p>You can make a new referral here:</p>
{% endblock %}
