{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../partials/layout.njk" %}

{% block pageTitle %}
  HMPPS Interventions - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummaryArgs %} 
        {{ govukErrorSummary(errorSummaryArgs) }}
      {% endif %}

      <h1 class="govuk-heading-xl">{{ presenter.text.title }}</h1>

      <h2 class="govuk-heading-m">{{ presenter.text.subtitle }}</h2>

      <div class="govuk-inset-text">
        {{ presenter.text.desiredOutcomeDescription }}
      </div>

      <hr class="govuk-section-break govuk-section-break--visible">

      <form method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        {{ govukRadios(achievementLevelRadiosArgs) }}
        {{ govukTextarea(progressionCommentsTextareaArgs) }}
        {{ govukTextarea(additionalTaskCommentsTextareaArgs) }}

        {{ govukButton({ text: "Save and continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
